:root {
    --accent: #001447;
    --white: #ffffff;
    --gray: #6b7c93;
    --off-white: #d9dfed;
    --white20: rgba(255, 255, 255, 0.2);
    --green: #80D3A1;
    --primary-teal: #06A6B7;
    --green2: #3BB9C6;
    --yellow: #FFB833;
    --desktop-nav-height: 8.563rem;
    --mobile-nav-height: 3.875rem;
    --animation-order: 0;
}

body {
    font-family: circular;
    font-weight: 400;
    overflow-x: hidden;
}
.form-control:focus,
.form-control:focus-visible,
.form-check .form-check-input {
    box-shadow: none;
    border: none;
    outline: none;
}
.form-control {
    border: none;

}
.ph16 {
    padding-left: 16px;
    padding-right: 16px;
}
.moe-navbar {
    background-color: var(--accent);
    color: var(--white);
    transition: all ease .3s;
}
.moe-navbar.is-light {
    background-color: var(--white);
    -webkit-box-shadow: 0 2px 60px 0 rgba(0,0,0,0.15);
    box-shadow: 0 2px 60px 0 rgba(0,0,0,0.15);
}
.moe-navbar.is-light .hamburger .line {
    background-color: var(--accent);
}
.moe-navbar.is-light .navbar-nav .nav-link {
    color: var(--accent);
}
.moe-navbar.is-light .navbar-brand img {
    filter: unset;
}
.moe-navbar.is-light .logo-dark {
    opacity: 1;
}
.moe-navbar .nav-top-col li {
    display: flex;
    align-items: center;
}
.moe-navbar .nav-top-col li .nav-link {
    padding: 0.5rem 1rem;
}
.moe-navbar .nav-top-col li:nth-child(2)::before,
.moe-navbar .nav-top-col li:nth-child(2)::after {
    content: ' ';
    display: flex;
    width: 2px;
    height: 12px;
    background-color: var(--white);
}
.moe-navbar .nav-top-col li:last-child .nav-link{
    padding-right: 0;
}
html[dir="rtl"] .moe-navbar .nav-top-col li:last-child .nav-link{
    padding-right: 1rem;
    padding-left: 0;
}
.moe-navbar .navbar-nav .nav-link {
    color: var(--white);
}
.moe-navbar .navbar-nav .nav-list-divider {
    width: 2px;
    background-color: var(--white);
}
.moe-navbar.is-light .navbar-nav .nav-list-divider {
    background-color: var(--accent);
}
.moe-navbar .border-bottom {
    border-bottom-color: var(--green) !important;
}

.moe-navbar .btn-primary {
    background-color: var(--yellow);
    color: var(--accent);
    margin-inline-start: 1rem;
}
.navbar-brand {
    position: relative;
    top: 3px;
    user-select: none;
    margin: 0;
}
.navbar-brand img {
    filter: brightness(0) invert(1);
    height: 30px;
    width: auto;
}
/* Start of Hamburger */
.hamburger .line {
    width: 1.5rem;
    height: 0.125rem;
    background-color: #ecf0f1;
    display: block;
    margin: 0.375rem auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 1rem;
}
.hamburger .line:last-child {
    width: 1rem;
    margin-right: 0;
}
.hamburger:hover {
    cursor: pointer;
}
#hamburger {
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#hamburger.is-active {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: all ease .3s;
    position: relative;
}
#hamburger.is-active .line {
    width: 25px;
    margin: 0;
}
#hamburger.is-active .line:nth-child(2) {
    opacity: 0;
}
#hamburger.is-active .line:nth-child(1) {
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    -o-transform: translateY(3px);
    transform: translateY(3px);
}
#hamburger.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-1px) rotate(90deg);
    -ms-transform: translateY(-1px) rotate(90deg);
    -o-transform: translateY(-1px) rotate(90deg);
    transform: translateY(-1px) rotate(90deg);
}
/* End of Hamburger */
.mobile-cta {
    background-color: var(--yellow);
    color: var(--accent);
    height: 62px;
    font-weight: 500;
    right: 0;
}
.moe-accordian-container .accordion-button {
    box-shadow: none;
}

.moe-accordian-container .accordion-button::after {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTBweCIgaGVpZ2h0PSI2cHgiIHZpZXdCb3g9IjAgMCAxMCA2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPHRpdGxlPmNoZXZyb24tZG93bjwvdGl0bGU+CiAgICA8ZyBpZD0iUGFnZS0xIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPgogICAgICAgIDxnIGlkPSJBcnRib2FyZCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTEzLjAwMDAwMCwgLTE2LjAwMDAwMCkiIHN0cm9rZT0iI0ZGRkZGRiIgc3Ryb2tlLXdpZHRoPSIxLjQiPgogICAgICAgICAgICA8ZyBpZD0iY2hldnJvbi1kb3duIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxNC4wMDAwMDAsIDE3LjAwMDAwMCkiPgogICAgICAgICAgICAgICAgPHBvbHlsaW5lIGlkPSJQYXRoIiBwb2ludHM9IjAgMCA0IDQgOCAwIj48L3BvbHlsaW5lPgogICAgICAgICAgICA8L2c+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4=);
    background-position: center;
    background-size: 14px;
}

.moe-accordian-container .list-group.border-bottom,
.moe-accordian-container .accordion-button.border-top {
    border-color: rgba(255, 255, 255, 0.2) !important;
}
.moe-accordian-container .accordion-button.collapsed {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.moe-accordian-container .accordion-body {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.moe-accordian-container .accordion-body ul li a {
    text-decoration: none;
    position: relative;
    cursor: pointer;
    display: inline-flex;
}
.moe-accordian-container .accordion-body ul li a::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    height: 4px;
    width: 0%;
    background-color: var(--green2);
    bottom: -4px;
    transition: all ease .3s;
}
.moe-accordian-container .accordion-body ul li:hover a::before {
    width: 100%;
}
.bg-shape {
    position: absolute;
    inset: 0;
    z-index: -1;
    background: rgb(0, 35, 124);
    background: radial-gradient(5180px 3880px at bottom, rgba(0, 35, 124, 1) calc(25% + 0px), rgba(255, 255, 255, 1) calc(25% + 2.5px))
}

.footer {
    position: relative;
    color: #ffffff;
    padding-top: 200px;
    padding-bottom: 113px;
    position: relative;
    z-index: 999;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}

.footer span {
    font-size: 12px;
}
.footer h4 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 16px;
}

.footer span {
    display: inline-block;
}

.footer .newsletter-description {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 32px;
}

.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.form-label {
    margin-bottom: 4px;
}
button:focus {
    box-shadow: none !important;
}
.newsletter-container {
    max-width: 345px;
    padding-bottom: 110px;
}
.footer .form-check a:first-child {
    margin-inline-end: 5px;
}
.footer .newsletter-container a {
    text-decoration: underline;
    margin-inline-start: 5px;
}
html[dir="rtl"] .footer .newsletter-container a {
    margin-inline-end: 5px;
}
html[dir="rtl"] .footer .social-container a {
    margin: 0;
}
.newsletter-container .newsletter-btn {
    border: none;
    margin: 20px 0 62px 0;
    background-color: transparent;
    color: #fff;
}
.newsletter-btn img {
    margin-inline-start: 0.75rem;
    width: auto;
}
.form-check {
    display: flex;
    align-items: center;
    padding-left: 0;
}
.form-check .form-check-input {
    float: unset;
    margin: unset;
    margin-inline-end: 0.5rem;
    min-width: 16px;
}
.form-check-label {
    font-size: 12px;
    /* display: flex; */
}

.social-container {
    justify-content: space-between;
    font-size: 20px;
    align-items: flex-start;
}

.social-container img {
    margin-inline-start: 22px;
    height: 22px;
}
.footer .social-container a {
    margin: 0;
}
.footer h6 {
    padding-bottom: 10px;
    font-weight: 500;
    margin: 0;
    font-size: 16px;
}

.footer li {
    margin-top: 20px;
    font-size: 15px;
}

.footer-bottom-container {
    display: flex;
    flex-direction: column;
    min-height: 140px;
    height: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-logo {
    height: 32px;
    margin-top: 8px;
    width: auto;
}

.excellence-img {
    height: 40px;
    width: auto;
    margin-inline-end: 1.5rem;
}
@media (min-width: 1200px) {
    .moe-navbar.is-light {
        transform: translateY(-58px);
    }
}
@media (max-width: 1199.98px) {
    .moe-navbar .navbar-toggler {
        position: relative;
        right: 80px;
    }
    .moe-navbar .navbar-collapse .navbar-collapse-container {
        height: calc(100vh - 63px);
    }
    .moe-navbar .mobile-cta {
        min-height: 63px;
    }
    .moe-navbar .navbar-collapse {
        background: var(--white);
        position: absolute;
        left: 0px;
        right: 0px;
        top: var(--mobile-nav-height);
    }

    .moe-navbar .navbar-collapse .navbar-nav .nav-link {
        color: var(--gray);
        border-bottom: 1px solid var(--off-white);
    }

    .moe-navbar .navbar-collapse .navbar-nav .nav-item {
        animation-name: list-animation;
        animation-duration: 550ms;
        animation-delay: calc(var(--animation-order) * 50ms);
        animation-fill-mode: both;
        animation-timing-function: ease-in-out;
    }
    .social-container img {
        margin-inline-start: 20px;
    }
    .footer {
        padding-top: 130px;
    }
    .bg-shape {
        background: radial-gradient(6702px 4100px at bottom, rgba(0, 35, 124, 1) calc(25% + 0px), rgba(255, 255, 255, 1) calc(25% + 1.5px))
    }
    .newsletter-container {
        padding-bottom: 40px;
        max-width: 360px;
    }
    .footer-bottom-container {
        height: unset;
        min-height: unset;
    }

    .footer-bottom-container .footer-logo {
        margin-bottom: 25px;
        margin-top: 0;
    }
    .footer-bottom-container.second {
        flex-direction: column-reverse;
        height: unset;
    }

    .footer-bottom-container.second span {
        margin-bottom: 60px;
        margin-top: 20px;
    }

    .footer .newsletter-description {
        font-size: 18px;
    }
    .excellence-img {
        height: 32px;
    }
}
@media only screen and (min-width: 768px) {
    .footer-policies-container span:first-child {
        margin-inline-end: 1rem;
    }
}
@media only screen and (min-width: 992px) {
    .excellence-img {
        margin-inline-end: 3rem;
    }
}
@media only screen and (min-width: 1200px) {
    .footer-policies-container span:first-child {
        margin-inline-end: 3rem;
    }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
    .mw-360-ipad {
        max-width: 360px;
    }
    .moe-navbar .mobile-cta {
        background-color: var(--primary-teal);
        color: var(--white);
    }
}
@media only screen and (max-width: 991.98px) {
    .footer {
        padding-top: 125px;
    }
    .moe-navbar .navbar-brand img {
        height: 24px;
        width: auto;
    }
    .moe-navbar {
        min-height: var(--mobile-nav-height);
    }
    .moe-navbar .mobile-cta {
        min-height: 62px;
    }
    .moe-navbar .navbar-collapse {
        top: var(--mobile-nav-height);
    }

    .moe-navbar .navbar-collapse .navbar-collapse-container {
        height: calc(100vh - 62px);
    }
    .bg-shape {
        background: radial-gradient(5502px 4360px at bottom, rgba(0, 35, 124, 1) calc(25% + 0px), rgba(255, 255, 255, 1) calc(25% + 2px))
    }
    .newsletter-container {
        padding-bottom: 70px;
    }
}
@media (max-width: 767.98px) {
    .bg-shape {
        display: none;
    }
    .footer {
        padding: 70px 0;
        background-color: rgba(0, 35, 124, 1);
    }
    .footer::before {
        content: ' ';
        z-index: -1;
        position: absolute;
        top: -50px;
        left: 0;
        right: 0;
        display: flex;
        height: 50%;
        background-image: url(./images/arch.svg);
        background-position: center top;
        background-size: cover;
    }
    .newsletter-container {
        max-width: unset;
    }
}
@media only screen and (max-width: 575.98px) {
    .newsletter-container {
        padding-bottom: 48px;
    }

    .footer {
        padding: 70px 0;
        background-color: rgba(0, 35, 124, 1);
    }

    .bg-shape {
        display: none;
    }

    .footer h4 {
        font-size: 16px;
    }

    .footer .newsletter-description {
        font-size: 14px;
        font-weight: 400;
    }
    .footer .container {
        padding-left: 16px;
        padding-right: 16px;
    }
    .moe-accordian-container {
        margin-inline-start: -16px;
        width: 100vw;
    }
    .footer {
        padding: 40px 0;
    }
    .footer::before {
        height: 150px;;
    }
}

@media only screen and (max-width: 360px) {
    .moe-navbar .navbar-brand img {
        height: 1.3rem;
    }
    .form-check {
        align-items: flex-start;
    }
    .form-check input {
        position: relative;
        top: 1px;
    }
}

@font-face {
    font-family: "circular";
    src: url(./fonts/CircularXXWeb-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "circular";
    src: url(./fonts/CircularXXWeb-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "circular";
    src: url(./fonts/CircularXXWeb-Medium.woff) format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "circular";
    src: url(./fonts/CircularXXWeb-Medium.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@keyframes list-animation {
    0% {
        opacity: 0;
        transform: scale(2) translateX(-200px);
    }

    0% {
        opacity: 0;
        transform: scale(2) translateX(-100px);
    }

    100% {
        opacity: 1;
    }
}
html[dir="rtl"] .mobile-cta {
    right: auto;
    left: 0;
}
html[dir="rtl"] .moe-navbar .navbar-toggler {
    right: auto;
    left: 80px;
}
html[dir="rtl"] .hamburger .line:last-child {
    margin-right: auto;
    margin-left: 0;
}
html[dir="rtl"] .newsletter-btn img {
    transform: scaleX(-1);
}
html[dir="rtl"] .moe-accordian-container .accordion-button::after {
    margin-right: auto;
    margin-left: unset;
}
html[dir="rtl"] .moe-accordian-container .accordion-body ul li a::before {
    left: auto;
    right: 0;
}