/*
 *
 * INSTRUCTIONS
 *
 * Copy the Legal Disclaimer and the @font-faces statements to your regular CSS file.
 * The font file(s) should be placed relative to the regular CSS file.
 *
 */

/* Complete */

@font-face {
  font-family: "Circular-Thin";
  src: url("./fonts/CircularXXWeb-Thin.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Circular-Thin";
  src: url("./fonts/CircularXXWeb-Thin.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Circular-Light";
  src: url("./fonts/CircularXXWeb-Light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Circular-Light";
  src: url("./fonts/CircularXXWeb-Light.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Circular-Regular";
  src: url("./fonts/CircularXXWeb-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Circular-Regular";
  src: url("./fonts/CircularXXWeb-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Circular-Medium";
  src: url("./fonts/CircularXXWeb-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Circular-Medium";
  src: url("./fonts/CircularXXWeb-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Circular-Bold";
  src: url("./fonts/CircularXXWeb-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Circular-Bold";
  src: url("./fonts/CircularXXWeb-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Circular-Black";
  src: url("./fonts/CircularXXWeb-Black.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Circular-Black";
  src: url("./fonts/CircularXXWeb-Black.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Circular-ExtraBlack";
  src: url("./fonts/CircularXXWeb-ExtraBlack.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Circular-ExtraBlack";
  src: url("./fonts/CircularXXWeb-ExtraBlack.woff2") format("woff2");
  font-display: swap;
}